In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import json

In [2]:
Movies = pd.read_csv('movies.csv')
credit = pd.read_csv('credits.csv')

In [3]:
Movies.shape,credit.shape

((4803, 20), (4803, 4))

In [4]:
Movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

In [5]:
credit.head(2)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [6]:
Movies['genres'][0]

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [7]:
#Read JSON Data
json.loads(Movies["genres"][0])

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [8]:
#Join Table on the Basis of Id which is common in both table
Movies_Credits = pd.merge(Movies,credit, left_on= "id",right_on="movie_id")
Movies_Credits.shape

(4803, 24)

In [9]:
Movies_Credits.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,spoken_languages,status,tagline,title_x,vote_average,vote_count,movie_id,title_y,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [10]:
Movies_Credits.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title_x', 'vote_average',
       'vote_count', 'movie_id', 'title_y', 'cast', 'crew'],
      dtype='object')

In [11]:
Movies_Credits = Movies_Credits[["movie_id" , "title_x" , "overview" , "genres" , "keywords" ,"cast" ,"crew"]]

In [12]:
Movies_Credits.dropna(inplace=True)

In [13]:
Movies_Credits.shape

(4800, 7)

In [14]:
#Make a Funcation for extract genre name from json data
def Extract_Values_Json(Str_list):
    values = json.loads(Str_list)
    return[value['name'] for value in values]

In [15]:
#Apply Extract_Values_json in each row of data frame which is josn format 
Movies_Credits['genres'] =Movies_Credits.genres.apply(Extract_Values_Json)
Movies_Credits["genres"].head(5)

0    [Action, Adventure, Fantasy, Science Fiction]
1                     [Adventure, Fantasy, Action]
2                       [Action, Adventure, Crime]
3                 [Action, Crime, Drama, Thriller]
4             [Action, Adventure, Science Fiction]
Name: genres, dtype: object

In [16]:
Movies_Credits['keywords'] = Movies_Credits['keywords'].apply(Extract_Values_Json)
Movies_Credits['keywords'].head(5)

0    [culture clash, future, space war, space colon...
1    [ocean, drug abuse, exotic island, east india ...
2    [spy, based on novel, secret agent, sequel, mi...
3    [dc comics, crime fighter, terrorist, secret i...
4    [based on novel, mars, medallion, space travel...
Name: keywords, dtype: object

In [17]:
Movies_Credits['cast']= Movies_Credits.cast.apply(Extract_Values_Json).apply(lambda x : x[:3])
Movies_Credits.cast.head(5)

0    [Sam Worthington, Zoe Saldana, Sigourney Weaver]
1       [Johnny Depp, Orlando Bloom, Keira Knightley]
2        [Daniel Craig, Christoph Waltz, Léa Seydoux]
3        [Christian Bale, Michael Caine, Gary Oldman]
4      [Taylor Kitsch, Lynn Collins, Samantha Morton]
Name: cast, dtype: object

In [18]:
#Make a funcation for Extract Director from crew data frame which is json format and first we have convert all in lower 
Movies_Credits['crew']=Movies_Credits.crew.str.lower()

def Fetch_Director(str_list):
    values = json.loads(str_list)
    return[value['name'] for value in values if value['job'] == 'director']

In [19]:
Movies_Credits['crew'] = Movies_Credits.crew.apply(Fetch_Director)
Movies_Credits.crew.head(5)

0        [james cameron]
1       [gore verbinski]
2           [sam mendes]
3    [christopher nolan]
4       [andrew stanton]
Name: crew, dtype: object

In [20]:
Movies_Credits.overview.head(2)

0    In the 22nd century, a paraplegic Marine is di...
1    Captain Barbossa, long believed to be dead, ha...
Name: overview, dtype: object

In [21]:
Movies_Credits['overview'] = Movies_Credits['overview'].str.split()
Movies_Credits["overview"].head(2)

0    [In, the, 22nd, century,, a, paraplegic, Marin...
1    [Captain, Barbossa,, long, believed, to, be, d...
Name: overview, dtype: object

In [22]:
Movies_Credits.head(5)

,movie_id,title_x,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[james cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[gore verbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[sam mendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[christopher nolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[andrew stanton]

In [23]:
Movies_Credits.shape

(4800, 7)

In [24]:
#Make a funcation for removing spaces between words
def Collapes(lst):
    Final_list = []
    for x in lst:
        Final_list.append(x.replace(" ",""))
    return Final_list

In [25]:
Movies_Credits['crew'] =Movies_Credits.crew.apply(Collapes)

In [26]:
Movies_Credits['cast']=Movies_Credits.cast.apply(Collapes)

In [27]:
Movies_Credits['genres']=Movies_Credits.genres.apply(Collapes)

In [28]:
Movies_Credits['keywords']=Movies_Credits.keywords.apply(Collapes)

In [29]:
Movies_Credits.head(5)

,movie_id,title_x,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[jamescameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[goreverbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[sammendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[christophernolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[andrewstanton]

In [30]:
Movies_Credits['tags'] = Movies_Credits['overview'] + Movies_Credits['genres'] + Movies_Credits['keywords'] + Movies_Credits['cast'] + Movies_Credits['crew']

In [31]:
Movies_Credits.tags.head(5)

0    [In, the, 22nd, century,, a, paraplegic, Marin...
1    [Captain, Barbossa,, long, believed, to, be, d...
2    [A, cryptic, message, from, Bond’s, past, send...
3    [Following, the, death, of, District, Attorney...
4    [John, Carter, is, a, war-weary,, former, mili...
Name: tags, dtype: object

In [32]:
Final_DataSet = Movies_Credits[['movie_id' , 'tags' , 'title_x']]

In [33]:
Final_DataSet.shape

(4800, 3)

In [34]:
Final_DataSet['tags']=Final_DataSet['tags'].apply(lambda x : " ".join(x))

C:\Users\DANISH LAPTOP\AppData\Local\Temp\ipykernel_17020\1411818198.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Final_DataSet['tags']=Final_DataSet['tags'].apply(lambda x : " ".join(x))

In [35]:
Final_DataSet['tags'] = Final_DataSet['tags'].str.lower()

C:\Users\DANISH LAPTOP\AppData\Local\Temp\ipykernel_17020\2107128386.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Final_DataSet['tags'] = Final_DataSet['tags'].str.lower()

In [36]:
Final_DataSet['tags'].head(5)

0    in the 22nd century, a paraplegic marine is di...
1    captain barbossa, long believed to be dead, ha...
2    a cryptic message from bond’s past sends him o...
3    following the death of district attorney harve...
4    john carter is a war-weary, former military ca...
Name: tags, dtype: object

In [37]:
#Final_DataSet after cleaning data
Final_DataSet.head(5)

,movie_id,tags,title_x
0,19995,"in the 22nd century, a paraplegic marine is di...",Avatar
1,285,"captain barbossa, long believed to be dead, ha...",Pirates of the Caribbean: At World's End
2,206647,a cryptic message from bond’s past sends him o...,Spectre
3,49026,following the death of district attorney harve...,The Dark Knight Rises
4,49529,"john carter is a war-weary, former military ca...",John Carter

In [38]:
Final_DataSet.rename({'title_x':'title'},axis=1 , inplace=True)

C:\Users\DANISH LAPTOP\AppData\Local\Temp\ipykernel_17020\4021999318.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Final_DataSet.rename({'title_x':'title'},axis=1 , inplace=True)

In [39]:
Final_DataSet.columns

Index(['movie_id', 'tags', 'title'], dtype='object')

In [40]:
#Text Vectorization 
# import libary sklearn 
from sklearn.feature_extraction.text import CountVectorizer

In [41]:
CountVector = CountVectorizer(max_features=5000 , stop_words='english')

In [42]:
Vector = CountVector.fit_transform(Final_DataSet['tags'])
Vector

<Compressed Sparse Row sparse matrix of dtype 'int64'
	with 133691 stored elements and shape (4800, 5000)>

In [43]:
Vector = Vector.toarray()
Vector

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [44]:
print(CountVector.get_stop_words())

frozenset({'everyone', 'cry', 'else', 'but', 'must', 'thus', 'first', 'upon', 'whereas', 'alone', 'have', 'others', 'however', 'we', 'they', 'something', 'every', 'nowhere', 'whose', 'eg', 'rather', 'go', 'move', 'me', 'you', 'himself', 'each', 'along', 'meanwhile', 'besides', 'ltd', 'on', 'above', 'how', 'therefore', 'de', 'whatever', 'been', 'next', 'herein', 'themselves', 'yourself', 'thereby', 'find', 'less', 'becoming', 'what', 'eleven', 'few', 'fire', 'found', 'give', 'seeming', 'yours', 'into', 'over', 'forty', 'whereupon', 'five', 'describe', 'below', 'from', 'everything', 'latter', 'almost', 'us', 'ten', 'seems', 'back', 'together', 'perhaps', 'anywhere', 'fill', 'somehow', 'thin', 'were', 'a', 'within', 'becomes', 'bill', 'mine', 'among', 'these', 'hasnt', 'about', 'do', 'anyhow', 'amount', 'down', 'ours', 'will', 'empty', 'formerly', 'otherwise', 'sometimes', 'eight', 'namely', 'whither', 'onto', 'everywhere', 'enough', 'across', 'either', 'by', 'around', 'nobody', 'please', 'nor', 'under', 'my', 'them', 'beyond', 'former', 'take', 'up', 'somewhere', 'interest', 'always', 'un', 'whence', 'top', 'very', 'after', 'sixty', 'anyone', 'would', 'yet', 'three', 'since', 'whole', 'hereby', 'indeed', 'thereafter', 'as', 'couldnt', 'where', 'than', 'her', 'once', 'some', 'which', 'sincere', 'hereafter', 'never', 'even', 'except', 'with', 'thence', 'no', 'mostly', 'often', 'made', 'off', 'other', 'side', 'whom', 'myself', 'least', 'had', 'well', 'also', 'detail', 'whether', 'i', 'of', 'all', 'although', 'inc', 'his', 'hence', 'too', 'not', 'between', 'here', 'much', 'call', 'him', 'because', 'many', 'neither', 'fifteen', 'our', 'moreover', 'bottom', 'beforehand', 'thru', 'mill', 'cannot', 'seemed', 'the', 'and', 'same', 'thereupon', 'being', 'before', 'put', 'one', 'towards', 'anything', 'during', 'this', 'elsewhere', 'can', 'twenty', 'name', 'con', 'sometime', 'cant', 'against', 'itself', 'was', 'out', 'hers', 'etc', 'someone', 'further', 'may', 'who', 'its', 'both', 'beside', 'latterly', 'yourselves', 'last', 'co', 'then', 'serious', 'get', 'part', 'none', 'am', 'throughout', 'are', 'again', 'though', 'several', 'whenever', 'already', 'become', 'amongst', 'more', 'became', 'she', 'without', 'noone', 'such', 'it', 'is', 'until', 'why', 'therein', 'now', 'another', 'through', 'front', 'behind', 'whoever', 'at', 'there', 'fifty', 'could', 'six', 'in', 'most', 'only', 'show', 'your', 'afterwards', 'if', 'he', 'anyway', 'has', 'hereupon', 'thick', 'to', 'seem', 'nine', 'ever', 're', 'two', 'wherein', 'might', 'own', 'those', 'for', 'whereby', 'via', 'nothing', 'ourselves', 'third', 'wherever', 'four', 'while', 'herself', 'per', 'system', 'their', 'be', 'should', 'or', 'an', 'keep', 'nevertheless', 'whereafter', 'so', 'still', 'when', 'done', 'that', 'due', 'amoungst', 'ie', 'see', 'twelve', 'hundred', 'toward', 'any', 'full'})

In [45]:
list(CountVector.get_feature_names_out())[50:60]

['70s',
 'aaron',
 'aaroneckhart',
 'abandoned',
 'abducted',
 'abigailbreslin',
 'abilities',
 'ability',
 'able',
 'aboard']

In [46]:
#import libary nltk for stemming 
import nltk

In [47]:
from nltk.stem.porter import PorterStemmer

In [48]:
PorterStem = PorterStemmer()

In [49]:
# how to work PorterStemming 
print(PorterStem.stem('love'))
print(PorterStem.stem('loving'))
print(PorterStem.stem('loved'))

love
love
love

In [50]:
#Make a funcation for stemming
def Stem(txt):
    lst = []
    for x in txt.split():
        lst.append(PorterStem.stem(x))
    return " ".join(lst)

In [51]:
Stem(Final_DataSet['tags'][0])

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d samworthington zoesaldana sigourneyweav jamescameron'

In [52]:
Final_DataSet['tags'] = Final_DataSet['tags'].apply(Stem)

C:\Users\DANISH LAPTOP\AppData\Local\Temp\ipykernel_17020\3177092725.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Final_DataSet['tags'] = Final_DataSet['tags'].apply(Stem)

In [53]:
Final_DataSet['tags'].head()

0    in the 22nd century, a parapleg marin is dispa...
1    captain barbossa, long believ to be dead, ha c...
2    a cryptic messag from bond’ past send him on a...
3    follow the death of district attorney harvey d...
4    john carter is a war-weary, former militari ca...
Name: tags, dtype: object

In [54]:
CountVectorizer = CountVectorizer(max_features=5000,stop_words='english')
New_vector = CountVectorizer.fit_transform(Final_DataSet['tags'])

In [55]:
New_vector = New_vector.toarray()
New_vector

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [56]:
list(CountVectorizer.get_feature_names_out())[50:60]

['60',
 '70',
 '80',
 'aaron',
 'aaroneckhart',
 'abandon',
 'abduct',
 'abigailbreslin',
 'abil',
 'abl']

In [57]:
Final_DataSet.shape

(4800, 3)

In [58]:
#Perform Cosine similarity
#import libary for calculate vector
from sklearn.metrics.pairwise import cosine_similarity

In [59]:
Similarity = cosine_similarity(New_vector)

In [60]:
Similarity.shape

(4800, 4800)

In [61]:
Similarity

array([[1.        , 0.08346223, 0.08740748, ..., 0.04499213, 0.        ,
        0.        ],
       [0.08346223, 1.        , 0.06160411, ..., 0.02378257, 0.        ,
        0.02615329],
       [0.08740748, 0.06160411, 1.        , ..., 0.02490677, 0.        ,
        0.        ],
       ...,
       [0.04499213, 0.02378257, 0.02490677, ..., 1.        , 0.03962144,
        0.04229549],
       [0.        , 0.        , 0.        , ..., 0.03962144, 1.        ,
        0.08714204],
       [0.        , 0.02615329, 0.        , ..., 0.04229549, 0.08714204,
        1.        ]])

In [62]:
Movie_Index = Final_DataSet[Final_DataSet['title'] == "Avatar"].index[0]
Movie_Index

np.int64(0)

In [63]:
Distance = Similarity[Movie_Index]
Distance

array([1.        , 0.08346223, 0.08740748, ..., 0.04499213, 0.        ,
       0.        ])

In [64]:
Index_List = list(enumerate(Distance))
Index_List[:10]

[(0, np.float64(1.0000000000000002)),
 (1, np.float64(0.08346223261119858)),
 (2, np.float64(0.08740748201220976)),
 (3, np.float64(0.0734718358370645)),
 (4, np.float64(0.1892994097121204)),
 (5, np.float64(0.10838874619051501)),
 (6, np.float64(0.04024218182927669)),
 (7, np.float64(0.14673479641335554)),
 (8, np.float64(0.05923488777590923)),
 (9, np.float64(0.0967301666813349))]

In [65]:
Similar_Movies = sorted(Index_List , reverse=True , key= lambda x : x[1])[1:11]
Similar_Movies

[(1213, np.float64(0.28676966733820225)),
 (2403, np.float64(0.26901379342448517)),
 (3723, np.float64(0.2605130246476754)),
 (507, np.float64(0.255608593705383)),
 (539, np.float64(0.25038669783359574)),
 (582, np.float64(0.24511108480187255)),
 (1201, np.float64(0.24455799402225925)),
 (1191, np.float64(0.23179316248638276)),
 (778, np.float64(0.23174488732966073)),
 (4041, np.float64(0.2278389747471728))]

In [66]:
for x in Similar_Movies:
    print(Final_DataSet.iloc[x[0]].title)

Aliens vs Predator: Requiem
Aliens
Falcon Rising
Independence Day
Titan A.E.
Battle: Los Angeles
Predators
Small Soldiers
Meet Dave
U.F.O.

In [67]:
#Make a funcation for movie recmommandation
def Recommendation(Movie_Name):
    Movie_Match = Final_DataSet[Final_DataSet['title'].str.contains(Movie_Name , case=False)]
    if Movie_Match.empty:
        print("Movie Not Found!!")
        return
    Match_Movie_Title = Movie_Match.iloc[0].title
    Movie_Index = Final_DataSet[Final_DataSet['title'] == Match_Movie_Title].index[0]
    Distance = Similarity[Movie_Index]
    Index_List = list(enumerate(Distance))
    Similar_Movies = sorted(Index_List , reverse=True , key= lambda x : x[1])[1:10]
    for x in Similar_Movies:
        print(Final_DataSet.iloc[x[0]].title)

In [68]:
Recommendation('thor')

Thor
Ant-Man
The Incredible Hulk
The Wolverine
Iron Man 2
Avengers: Age of Ultron
Iron Man 3
X-Men: Days of Future Past
X2

In [69]:
Recommendation('meet dave')

The Hitchhiker's Guide to the Galaxy
Escape from Planet Earth
Home
Planet 51
Aliens in the Attic
Alien
Journey to Saturn
Space Pirate Captain Harlock
Star Trek: Insurrection

In [70]:
#import pickle libary for pickle
import pickle

In [71]:
#File dump into pickle file for helping when create UI and give type its wp (write binary)
pickle.dump(Final_DataSet,open('Movies_DataSet' , 'wb'))
pickle.dump(Similarity,open('Movie_Similaity','wb'))

In [72]:
#TMDB API

In [73]:
pip install requests

Requirement already satisfied: requests in c:\users\danish laptop\python\lib\site-packages (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\danish laptop\python\lib\site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\danish laptop\python\lib\site-packages (from requests) (3.8)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\danish laptop\python\lib\site-packages (from requests) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\danish laptop\python\lib\site-packages (from requests) (2024.8.30)
Note: you may need to restart the kernel to use updated packages.

In [74]:
#import request for hit api
import requests

In [75]:
URL = f"https://api.themoviedb.org/3/movie/{11111}?api_key=75eb0685f1f9140663e33eb0ea57150a&language=en-US"
Data = requests.get(URL)
Data = Data.json()

In [76]:
PosterPath = Data['poster_path']
PosterPath

'/5EB9LAzIePTQoMpg2M1GNJpNn9s.jpg'

In [77]:
Full_Path = "http://image.tmdb.org/t/p/w500/" + PosterPath
Full_Path

'http://image.tmdb.org/t/p/w150/5EB9LAzIePTQoMpg2M1GNJpNn9s.jpg'

In [78]:
def FetchMovie_Poster(id):
    URL = f"https://api.themoviedb.org/3/movie/{id}?api_key=75eb0685f1f9140663e33eb0ea57150a&language=en-US"
    Data = requests.get(URL)
    Data = Data.json()
    PosterPath = Data['poster_path']
    Full_Path = "http://image.tmdb.org/t/p/w500/" + PosterPath
    return Full_Path

In [79]:
print(FetchMovie_Poster('19995'))

http://image.tmdb.org/t/p/w150/kyeqWdyUXW608qlYkRqosgbbJyK.jpg

In [80]:
#make a funcation for Final_recommandation movies along with its poster
def Final_Recommendation(Movie_Name):
    Recommended_movies = []
    Recommended_movies_poster = []
    Movie_Match = Final_DataSet[Final_DataSet['title'].str.contains(Movie_Name , case=False)]
    if Movie_Match.empty:
        print("Movie Not Found!!")
        return
    Match_Movie_Title = Movie_Match.iloc[0].title
    Movie_Index = Final_DataSet[Final_DataSet['title'] == Match_Movie_Title].index[0]
    Distance = Similarity[Movie_Index]
    Index_List = list(enumerate(Distance))
    Similar_Movies = sorted(Index_List , reverse=True , key= lambda x : x[1])[1:10]
    for x in Similar_Movies:
        Movie_id = Final_DataSet.iloc[x[0]].movie_id
        Recommended_movies_poster.append(FetchMovie_Poster(Movie_id))
        Recommended_movies.append(Final_DataSet.iloc[x[0]].title)
    return Recommended_movies , Recommended_movies_poster

In [81]:
Final_Recommendation('avatar')

(['Aliens vs Predator: Requiem',
  'Aliens',
  'Falcon Rising',
  'Independence Day',
  'Titan A.E.',
  'Battle: Los Angeles',
  'Predators',
  'Small Soldiers',
  'Meet Dave'],
 ['http://image.tmdb.org/t/p/w150/jCyJN1vj8jqJJ0vNw4hDH2KlySO.jpg',
  'http://image.tmdb.org/t/p/w150/r1x5JGpyqZU8PYhbs4UcrO1Xb6x.jpg',
  'http://image.tmdb.org/t/p/w150/4wnfTO8mvqcTU62YMkUeKq49VMT.jpg',
  'http://image.tmdb.org/t/p/w150/p0BPQGSPoSa8Ml0DAf2mB2kCU0R.jpg',
  'http://image.tmdb.org/t/p/w150/el2iHk3LTJWfEnwrvcRkvWY501G.jpg',
  'http://image.tmdb.org/t/p/w150/jloyGeVYZSxM9zsLFvVOWuj2ey4.jpg',
  'http://image.tmdb.org/t/p/w150/54LZIRznS0Zjn7ZDXrsGVe3HXei.jpg',
  'http://image.tmdb.org/t/p/w150/2nuUjSzHsoYlRvTPmLo7m7gCQry.jpg',
  'http://image.tmdb.org/t/p/w150/3Qfav5aVRcZmq854olMjJ795JJ2.jpg'])

In [82]:
Final_DataSet.head()

,movie_id,tags,title
0,19995,"in the 22nd century, a parapleg marin is dispa...",Avatar
1,285,"captain barbossa, long believ to be dead, ha c...",Pirates of the Caribbean: At World's End
2,206647,a cryptic messag from bond’ past send him on a...,Spectre
3,49026,follow the death of district attorney harvey d...,The Dark Knight Rises
4,49529,"john carter is a war-weary, former militari ca...",John Carter

In [83]:
import pickle
import pandas as pd
import streamlit as st
import requests
from PIL import Image

In [85]:
def FetchMovie_Poster(id):
    URL = f"https://api.themoviedb.org/3/movie/{id}?api_key=75eb0685f1f9140663e33eb0ea57150a&language=en-US"
    Data = requests.get(URL)
    Data = Data.json()
    PosterPath = Data['poster_path']
    Full_Path = "http://image.tmdb.org/t/p/w500/" + PosterPath
    return Full_Path

def Final_Recommendation(Movie_Name):
    Recommended_movies = []
    Recommended_movies_poster = []
    Movie_Match = Final_DataSet[Final_DataSet['title'].str.contains(Movie_Name , case=False)]
    if Movie_Match.empty:
        #print("Movie Not Found!!")
        return "Movie Not Found!!!!"
    Match_Movie_Title = Movie_Match.iloc[0].title
    Movie_Index = Final_DataSet[Final_DataSet['title'] == Match_Movie_Title].index[0]
    Distance = Similarity[Movie_Index]
    Index_List = list(enumerate(Distance))
    Similar_Movies = sorted(Index_List , reverse=True , key= lambda x : x[1])[1:10]
    for x in Similar_Movies:
        Movie_id = Final_DataSet.iloc[x[0]].movie_id
        Recommended_movies_poster.append(FetchMovie_Poster(Movie_id))
        Recommended_movies.append(Final_DataSet.iloc[x[0]].title)
    return Recommended_movies , Recommended_movies_poster

In [86]:
def Final_Recommendation(Movie_Name):
    Recommended_movies = []
    Recommended_movies_poster = []
    Movie_Match = Final_DataSet[Final_DataSet['title'].str.contains(Movie_Name , case=False)]
    if Movie_Match.empty:
        #print("Movie Not Found!!")
        return "Movie Not Found!!!!"
    Match_Movie_Title = Movie_Match.iloc[0].title
    Movie_Index = Final_DataSet[Final_DataSet['title'] == Match_Movie_Title].index[0]
    Distance = Similarity[Movie_Index]
    Index_List = list(enumerate(Distance))
    Similar_Movies = sorted(Index_List , reverse=True , key= lambda x : x[1])[1:10]
    for x in Similar_Movies:
        Movie_id = Final_DataSet.iloc[x[0]].movie_id
        Recommended_movies_poster.append(FetchMovie_Poster(Movie_id))
        Recommended_movies.append(Final_DataSet.iloc[x[0]].title)
    return Recommended_movies , Recommended_movies_poster

In [87]:
Final_Recommendation('avatar')

(['Aliens vs Predator: Requiem',
  'Aliens',
  'Falcon Rising',
  'Independence Day',
  'Titan A.E.',
  'Battle: Los Angeles',
  'Predators',
  'Small Soldiers',
  'Meet Dave'],
 ['http://image.tmdb.org/t/p/w150/jCyJN1vj8jqJJ0vNw4hDH2KlySO.jpg',
  'http://image.tmdb.org/t/p/w150/r1x5JGpyqZU8PYhbs4UcrO1Xb6x.jpg',
  'http://image.tmdb.org/t/p/w150/4wnfTO8mvqcTU62YMkUeKq49VMT.jpg',
  'http://image.tmdb.org/t/p/w150/p0BPQGSPoSa8Ml0DAf2mB2kCU0R.jpg',
  'http://image.tmdb.org/t/p/w150/el2iHk3LTJWfEnwrvcRkvWY501G.jpg',
  'http://image.tmdb.org/t/p/w150/jloyGeVYZSxM9zsLFvVOWuj2ey4.jpg',
  'http://image.tmdb.org/t/p/w150/54LZIRznS0Zjn7ZDXrsGVe3HXei.jpg',
  'http://image.tmdb.org/t/p/w150/2nuUjSzHsoYlRvTPmLo7m7gCQry.jpg',
  'http://image.tmdb.org/t/p/w150/3Qfav5aVRcZmq854olMjJ795JJ2.jpg'])